.panel{overflow:hidden;margin:0;float:left;border-color:#2D2D2D;}
.panel, .panel-heading{border-radius:0;}
#chat_room{width:calc(100% - 280px);border:none;}

#chat_room .panel-body .sysmsg{text-align:center;color:#999;}

#chat_room .panel-body .message{width:100%;margin-bottom:10px;}
#chat_room .panel-body .message .avatar{width:48px;height:48px;border-radius:50px;margin-top:10px;float:left;}
@media(max-width:767px){#chat_room .panel-body .message .avatar{display:none;}}
#chat_room .panel-body .message .content{float:left;margin-left:10px;max-width:400px;}
@media(max-width:767px){#chat_room .panel-body .message .content{max-width:80%;}}
#chat_room .panel-body .message .content .uname{color:#0da4d3;}
#chat_room .panel-body .message .content .bubble{background:#feedee;color:#333;padding:8px 12px;border-radius:8px;position:relative;}
#chat_room .panel-body .message .content .bubble:after{content:'';display:block;position:absolute;left:-8px;top:5px;border-left:8px solid transparent;border-bottom:6px solid #feedee;}

#chat_room .panel-body .mymessage{width:100%;margin-bottom:10px;}
#chat_room .panel-body .mymessage .avatar{width:48px;height:48px;border-radius:50px;margin-top:10px;float:right;}
@media(max-width:767px){#chat_room .panel-body .mymessage .avatar{display:none;}}
#chat_room .panel-body .mymessage .content{float:right;margin-right:10px;max-width:400px;}
@media(max-width:767px){#chat_room .panel-body .mymessage .content{max-width:80%;}}
#chat_room .panel-body .mymessage .content .uname{color:#0da4d3;text-align:right;}
#chat_room .panel-body .mymessage .content .bubble{background:#feedee;color:#333;padding:8px 12px;border-radius:8px;position:relative;}
#chat_room .panel-body .mymessage .content .bubble:after{content:'';display:block;position:absolute;right:-8px;top:5px;border-right:8px solid transparent;border-bottom:6px solid #feedee;}

#chat_room .panel-footer .input-group-btn button:last-child{border-radius:0 4px 4px 0;}

#online_user{width:280px;display:none;}
#online_user .mCSB_inside>.mCSB_container{margin:0;}
#online_user .panel-heading{color:#fff;background-color:#242428;border-color:#2d2d2d;}
#online_user .list-group .list-group-item{background-color:#fff;transition:all .5s;}
#online_user .list-group .list-group-item:hover{background-color:#eee;}
#online_user .list-group .list-group-item img.img-circle{width:48px;height:48px;}
#online_user .list-group .list-group-item span{font-size:18px;line-height:48px;vertical-align:middle;padding-left:12px;padding-right:6px;}
#online_user .list-group .list-group-item .gender{display:inline-block;width:18px;height:18px;vertical-align:middle;}
#online_user .list-group .list-group-item .gender.male{background:url(../img/male.png) no-repeat center;-webkit-background-size:18px;background-size:18px;}
#online_user .list-group .list-group-item .gender.female{background:url(../img/female.png) no-repeat center;-webkit-background-size:18px;background-size:18px;}

.collapse_btn{width:10px;height:120px;position:absolute;left:0px;top:300px;cursor:pointer;background:url(../img/collapse.png) no-repeat 0px center;}
.collapse_btn:hover{background:url(../img/collapse.png) no-repeat -10px center;}
.collapse_btn.closed{background:url(../img/collapse.png) no-repeat -20px center;}
.collapse_btn.closed:hover{background:url(../img/collapse.png) no-repeat -30px center;}